* {
    box-sizing:border-box;
}

*:visited {
    color: darkgrey
}

body {
    background-color: white;
    color: darkgrey;
}

html,
body,
#googlemap-canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    position:  absolute;
    margin: 0;
}

p{
    color: black;
}


a:focus, a:hover{
    color: mediumseagreen;
}

p {
    font-size: 12px;
}

strong {
    font-size: 14px;
}


ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

li{
    font-size: 12px;
    color: black;
}


li:hover {
    background-color: mediumseagreen;
    color: white;
}

hr {
    color: mediumseagreen;
    border-color: mediumseagreen;
}

#input {
    margin: 15px 0 5px 20px;
    width: 83%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

#search-container {
    position: fixed;
    top: 45px;
    left: 10px;
    z-index: 1;
    width: 195px;
    height: 200px;
}

#wikki-container{
    position: fixed;
    top: 590px;
    left: 10px;
    width: 400px;
    height: 200px;
    padding-left: 5px;
    z-index: 1;
    font-family: helvetica, sans-serif;
    overflow: scroll;
    background: rgba(256,256,256,.9);
    border: solid 2px mediumseagreen;
}

#nytimes-container {
    position: fixed;
    top: 795px;
    left: 10px;
    width: 400px;
    height: 200px;
    padding-left: 5px;
    z-index: 1;
    font-family: helvetica, sans-serif;
    overflow: scroll;
    background: rgba(256,256,256,.9);
    border: solid 2px mediumseagreen;
}

#search-nav {
    width: 205%;
    max-height: 540px;
    background-color: rgba(256,256,256,.9);
    border: solid 2px mediumseagreen;
    overflow: hidden;
    }

@media screen and (max-width: 360px) and (max-height: 100px) {

    #search-container {
        position: fixed;
        top: 45px;
        left: 10px;
        z-index: 1;
        width: 100px;
        height: 100px;
    }

    #wikki-container{
        position: fixed;
        top: 590px;
        left: 10px;
        width: 200px;
        height:100px;
        padding-left: 5px;
        z-index: 1;
        font-family: helvetica, sans-serif;
        overflow: scroll;
        background: rgba(256,256,256,.9);
        border: solid 2px mediumseagreen;
    }

    #nytimes-container {
        position: fixed;
        top: 795px;
        left: 10px;
        width: 200px;
        height: 100px;
        padding-left: 5px;
        z-index: 1;
        font-family: helvetica, sans-serif;
        overflow: scroll;
        background: rgba(256,256,256,.9);
        border: solid 2px mediumseagreen;
    }
}

#scroller {
    height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

#reset:hover {
    background-color: white;
    color: mediumseagreen;
    border: solid mediumseagreen 2px;
}

.web-links {
    color: mediumseagreen;
}

.web-links:visited {
    color: mediumseagreen;
}

.modal {
    position: absolute;
    height: 100%; 
    width: 100%;
    background-color: mediumseagreen;
    z-index: 0;
    display: none;
}

.modal-images{
    max-width: 550px;
    min-width: 550px;
    height: 400px;
    width: 40%;
    margin: 12% auto;
    background-color: rgba(200, 200, 200, .8);
    opacity: 1.0;
    z-index: 0;
    border-radius: 5%;
}

#exit-modal {
    margin-left: 91%;
    margin-top: -10px;
    width: 10%;
    border-radius: 50%;
}

/* Box styles */
.myBox {
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 200px;
    overflow: scroll;

    position: absolute;
    z-index: 2;
    left: 0%;
    top: 700px;
    width: 30%;
    background: rgba(256,256,256,.9);
    border: solid 2px mediumseagreen;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px olivedrab;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: yellowgreen;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #7bac10;
}