* {
    box-sizing:border-box;
}

*:visited {
    color: darkgrey
}

body {
    background-color: white;
    color: darkgrey;
}

html,
body,
#googlemap-canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    position:  absolute;
    margin: 0;
}

p {
    font-size: 12px;
    margin: 5px 0;
}

strong {
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    font-family: Helvetica, sans-serif;
    padding: 20px 0 15px 15px;
}

li:hover {
    background-color: mediumseagreen;
    color: white;
}

a {
    text-decoration: none;
    color: mediumseagreen;
}

hr {
    margin: 10px 0 0 0;
    color: mediumseagreen;
    border-color: mediumseagreen;
}

#input {
    margin: 15px 0 5px 20px;
    width: 83%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

#search-container {
    position: absolute;
    z-index: 3;
    padding-top: 45px;
}

#wikki-container {
    position: absolute;
    z-index: 2;
    left: 0%;
    top: 700px;
    width:100%;
    background-color: rgba(256,256,256,.9);
    border-top: solid 2px mediumseagreen;
    overflow: inherit;
}

#nytimes-container {
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 700px;
    width:95%;
    background-color: rgba(256,256,256,.9);
    border-top: solid 2px mediumseagreen;
    border-left: solid 2px mediumseagreen;
    overflow: auto;
}

@media screen and (max-width: 900px) {

    #wikki-container {
        position: absolute;
        z-index: 2;
        left: 0%;
        top: 700px;
        width:100%;
        background: rgba(256,256,256,.9);
        border: solid 2px mediumseagreen;
        overflow: inherit;
    }

    #nytimes-container {
        position: absolute;
        z-index: 1;
        left: 0%;
        top: 1400px;
        width:100%;
        background-color: rgba(256,256,256,.9);
        border: solid 2px mediumseagreen;
        overflow: auto;
    }
}

#search-nav {
    width: 280px;
    max-height: 549px;
    background-color: rgba(256,256,256,.9);
    border: solid 2px mediumseagreen;
    overflow: hidden;
}

#scroller {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

#reset:hover {
    background-color: white;
    color: mediumseagreen;
    border: solid mediumseagreen 2px;
}

.web-links {
    color: blue;
}

.web-links:visited {
    color: blue;
}

.modal {
    position: absolute;
    height: 100%; 
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 0;
    display: none;
}

.modal-images{
    max-width: 550px;
    min-width: 550px;
    height: 400px;
    width: 40%;
    margin: 12% auto;
    background-color: rgba(200, 200, 200, .8);
    opacity: 1.0;
    z-index: 0;
    border-radius: 5%;
}

#exit-modal {
    margin-left: 91%;
    margin-top: -10px;
    width: 10%;
    border-radius: 50%;
}